<!-- title=building sites -->
<!-- description=building a site with dormouse-cms -->
<!-- sort=50 -->
<p>the best way to learn to use dormouse-cms is probably to download it - the source for this site is all included. but i'll explain it anyway...</p>

<p>building a site with dormouse-cms is similar to building a site from scratch. the principle is the same - you write html files with your text editor, starting with index.html. However, you don't have to write the complete html files. dormouse-cms takes fragmentary html files and creates full pages from them. here is an example of a simple page:</p>

<code><pre>
&lt;!-- title=my page --&gt;
&lt;!-- description=my page with dormouse-cms --&gt;
&lt;!-- sort=0 --&gt;
&lt;p&gt;hello! this is the page i made with dormouse-cms&lt;/p&gt;
</pre></code>

<p>saving it as index.html and running dormouse-cms in the folder would be enough to create a page from it. You probably noticed the two comments in html format. These contain the metadata dormouse-cms needs to create your site.<p>

<p>there are five kinds of metadata dormouse-cms uses. all of them are optional</p>

<table>
<tr><td>title</td><td>the page title</td></tr>
<tr><td>description</td><td>a description of the page</td></tr>
<tr><td>sort</td><td>this chooses the sort position on the sidebar menu. a lower number means it will appear higher on the list. it's a good idea to give your index page a sort of 0, and to number the other pages in multiples of 10 (this is so that if you add a page you can give it a sort position without renumbering all the other pages)</td></tr>
<tr><td>site-footer</td><td>this only has an effect if it's used in index.html - it specifies the footer appended to all pages. if you leave it blank a "last updated" date will be put as the footer</td></tr>
<tr><td>site-title</td><td>this only has an effect if it's used in index.html - this gives your site a general  title that can be used to give titles to pages if you forget to give some of the pages a title</td></tr>
</table>

<p>that's it! besides those five metadata comments, all you need to know is basic html, and css to style your page (but you can easily tweak the style.css that this page uses if you don't know css). the css file should be called "style.css" on the top level</p>

<p>you can choose to make a file called header.html. if this file exists, its contents will be added above the main page content on every page - like there is on this website. this file doesn't need any metadata</p>

<p>dormouse-cms only works with html files on the top level. if you have other files (besides style.css) on the top level, they won't be copied across to the final site -- but! dormouse-cms copies across folders untouched, so if you have things like site graphics that need to be used in the site, put them in a folder and they will be copied to the final site - this site uses a folder called "images" to store the picture of the dormouse. it's good practise to organise your files like this anyway</p>
