<!-- title=credits -->
<!-- description=site credits -->
<!-- sort=70 -->
<p>the small dormouse photograph was taken by Hans Braxmeier and put into the public domain at pixabay - thanks hans! http://pixabay.com/en/users/Hans/</p>
<p>also thanks to larry wall for writing perl</p>
