<!-- title=download -->
<!-- description=download dormouse-cms -->
<!-- sort=60 -->
<p>now you've read about dormouse-cms surely you want to download it?</p>

<p><a href="downloads/dormouse-cms.zip">dormouse-cms.zip (version 2013/05/21)</a></p>

<p>thanks!</p>
