<!-- title=home -->
<!-- description=dormouse-cms page -->
<!-- sort=-1 -->
<!-- site-title=dormouse-cms-->
<p>Welcome to the dormouse-cms website. it is a website about dormouse-cms, made using dormouse-cms.</p>
<p>dormouse-cms is a perl script for building small, lightweight, "web 1.0" websites. you still need to know html, css, and write your site in notepad (just like the old days!), but dormouse-cms can save you a large amount of effort by automatically generating and adding a menu, header and footer. Use the navigation bar at the side to learn more about dormouse-cms.</p>
