body {
    background-color: #BBCCDD;
    color: #000;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border-style: solid;
    border-width: 1px;
    padding: 0.3em;
}

td.menu {
    background-color: #DDEEFF;
    padding-right: 1em;
    vertical-align: text-top;
    width: 15em;
}

td.body {
    padding-left: 2em;
    padding-right: 2em;
}

ul.menu {
    list-style-type: none;
}
