<!-- title=why (not) dormouse-cms? -->
<!-- description=advantages and disadvantages of dormouse-cms -->
<!-- sort=20 -->
<h2>what is good about dormouse-cms?</h2>
<ul>
<li>it's really small (~200 lines of perl)</li>
<li>it's free (as in "you are free to do whatever you want with it")</li>
<li>it's based on html, css, and perl only</li>
<li>it builds the site from html files only, no database, meta-files</li>
<li>the sites it makes will be compatible with almost every browser</li>
<li>the sites will be fast to load (light html, no php or javascript to execute)</li>
</ul>
<h2>what is bad about dormouse-cms?</h2>
<ul>
<li>it has no features!</li>
<li>you can't make an interactive website easily with it</li>
<li>it requires you to know html and css (unlike, say, wordpress)</li>
<li>the sites it makes are "ugly"</li>
</ul>
